.students-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: #f5f5f5;
}

.student-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  width: 250px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.student-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #1f2937;
}

.student-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}

.view-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px;
  background-color: #1f2937;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.student-card:hover .view-btn {
  display: inline-block;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.year-buttons button{
  margin-right: 10px;
}

.year-btn {
  padding: 8px 16px;
  border-radius: 6px;
  background: #ddd;
  border: none;
  cursor: pointer;
  font-weight: 500;
}


.year-btn:hover {
  background: #ccc;
}

.active-year {
  background: #4CAF50;
  color: white;
}

.students-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* space between cards */
}

/* ============ BUTTON STYLES ============ */


