/* ===== PAGE WRAPPER ===== */
.alumni-page {
  padding: 60px 70px;
  /* margin-top: 100px; */
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom, #eaf0ff, #ffffff);
}

/* ===== PAGE HEADER ===== */
.alumni-header {
  text-align: center;
  margin-bottom: 50px;
}

.alumni-title {
  font-size: 42px;
  font-weight: 700;
  color: #1e1e1e;
}

.alumni-subtitle {
  color: #545454;
  font-size: 18px;
  margin-top: 10px;
}

/* ===== GRID LAYOUT ===== */
.alumni-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
}
